body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.btn-tooltip{
    position: relative;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(34, 34, 235);
    color: white;
    border-bottom:  2px solid rgb(9, 9, 65);
    cursor: pointer;
    transition: background-color 150ms ;
}

/*un pseudo elemento, lo que hacemos es que al button le cambiemos el nombre al usar hover
.btn-tooltip:hover::before{
    content: "esto es un tooltips";
}*/

.tooltip{
    position: absolute;
    /*visibility: hidden;*/
    opacity: 0;
    top: -40px;
    left: -100%;
    transform: translateX(25%);
    color: #ddd;
    background-color: #333;
    padding: 5px 10px;
    border-radius:5px ;
    transition: opacity 150ms;
}

.btn-tooltip:hover{
    background-color: rgb(4, 4, 37);
}

.btn-tooltip:hover .tooltip{
    /*visibility: visible; el mismo metodo lo podemos aplicar con la propiedad opacity*/
    opacity: 1;
}
.tooltip::before{
    content: '';
    border: solid 10px transparent;
    border-top-color: #333;
    position: absolute;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
}
.triangulo{
    border: solid 10px #333;
    border-top-color: cyan;
    border-right-color: yellow;
}