.escenario{
    border: 1px solid #333;
    padding: 10px;
}
/*em hace referencia al tamaño de la fuente de su container,
 al tamaño de fuente relativo del padre que esta contenido */
/*rem hace referencia de la raiz, va a escalar dependiendo la funte muy grande,
va a escalar en relacion a la fuente definidadentro nuestro dispositivo*/
.escenario-1{
    font-size: 32px;
}

.escenario-2{
    font-size: 16px;
}
.em{
    font-size: 2em;
}

.rem{
    font-size: 2rem;
}